<div class="row span9 offset1">
	<h1>A<strong>&rarr;</strong>B&nbsp;</h1>
	<h2>desde 20 € /h*</h2>
</div>
<div id="home" class="row span9 offset2">
	<p>Olá, Seja Bem-Vindo!<br/>
	Se chegou até aqui é porque está a procura de um <i>serviço de mudanças</i> rápido e com qualidade.</p>
	<p>Eis os serviços que oferecemos:</p>
	<ul class="nav">
		<li><strong>&rarr;</strong> Embalagem e acomodação de objectos;</li>
		<li><strong>&rarr;</strong> Montagem e desmontagem de móveis;</li>
		<li><strong>&rarr;</strong> Transporte de mudanças com carregador e motorista.</li>
	</ul>
	<p>
	Para maior comodidade também <i>trabalhamos nos fins-de-semana</i> e nosso atendimento é 24h!<br/>
	Actuamos em todo o <i>território nacional continental</i>.
	</p>
</div>
<div class="row span9 offset1">
	<h3>* Minimo duas horas</h3>
</div>
