<!--[if lt IE 9 ]>
	<div class="alert alert-block">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<h4>Importante!</h4>
  		Seu navegador está desatualizado. Ele possui falhas de segurança e pode apresentar problemas para exibir este e outros websites.
  		Recomendamos que actualize o seu navegador <a target='_blank' href='http://whatbrowser.org/'>aqui</a>.
	</div>
<![endif]-->