<footer id="footer">
	<!--<hr class="featurette-divider">-->
	<div class="container">
		<div class="row">
			<div class="span6">developed by <b><a href="http://cristheinz.info" target="_blank">cristheinz</a></b></div>
			<div class="span4 offset2" id="faddress">
			</div>
			
		</div>
	
		<div class="row">
			<center>
				<br />
				<small><%= Time.now.year %> - Mudanças Luz</small>
			</center>
		</div>
	</div>
</footer>

