<header class="container">
  <div class="row">
    <div class="span6">
      <p>
      	<span id="brand" class="crd-brand crd-fade">Mudanças Luz</span><br/>
      	<span id="brand2" class="crd-fade2">Rapidez e Qualidade</span>
      </p>
    </div>
    <div class="span4 offset2 ">
      <span class=" crd-phone">999-999-999</span>

    </div>
  </div>
</header>